body {
    background-color: #7e45dd;
}
.btn-1{
    background-color: #7e45dd;
    border-color: #7e45dd;
    color: white;
}
.dih{
    color: white;
}
.btn-2{
    background-color: white;
    border-color: white;
    color: #7e45dd;
}
.btn-3{
    background-color: #7e45dd;
    border-color:white;
    color: white;
}
#Adopt-a-Pet{
    background-color: #fefdff;
}